@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(26, 154, 201);
  max-width: 1320px;
  width: 80%;
  margin: 100px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  width: 780px;
  height: 450px;
  background-image: linear-gradient(
    to top,
    rgb(44, 150, 185),
    rgb(26, 154, 201)
  );
  border: 1px solid rgb(255, 255, 255);
}

.heading {
  color: #fff;
  font-size: 56px;
  font-weight: 900;
  font-family: "PT Sans Caption", sans-serif;
}

.row1,
.row2,
.row3 {
  display: flex;
  width: 100%;
  position: relative;
}

.img1,
.img2,
.img3,
.img4,
.img5,
.img6,
.img7,
.img8,
.img9 {
  height: 150px;
  width: 260px;
  border: 1px solid #ffffff;
  position: relative;
  transition: 4s ease-out;
  &:hover{
    border: none;
  }
}

.img2, .img9 {
  animation-name: anim1;
  animation-duration: 1.5s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

.img1 {
  animation-name: anim2;
  animation-duration: 1.5s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}
.img3,
.img4 {
  animation-name: anim3;
  animation-duration: 1.5s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}
.img5 {
  animation-name: anim5;
  animation-duration: 1.5s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}
.img6,
.img7 {
  animation-name: anim6;
  animation-duration: 1.5s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}
.img8 {
  animation-name: anim7;
  animation-duration: 1.5s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

@keyframes anim1 {
  0% {
    right: 0;
  }
  25% {
    right: 70px;
  }
  50% {
    right: 110px;
  }
  75% {
    right: 190px;
  }
  100% {
    right: 260px;
  }
}
@keyframes anim2 {
  0% {
    left: 0px;
    top: 0px;
  }
  25% {
    left: 70px;
    top: 0px;
  }
  50% {
    left: 140px;
    top: 0px;
  }
  75% {
    left: 260px;
    top: 0px;
  }
  100% {
    left: 260px;
    top: 150px;
  }
}
@keyframes anim3 {
  0% {
    top: 0px;
  }
  25% {
    top: 30px;
  }
  50% {
    top: 60px;
  }
  75% {
    top: 90px;
  }
  100% {
    top: 150px;
  }
}
@keyframes anim5 {
  0% {
    top: 0px;
    left: 0px;
  }
  25% {
    top: 40px;
    left: 0px;
  }
  50% {
    top: 90px;
    left: 0px;
  }
  75% {
    top: 150px;
    left: 0px;
  }
  100% {
    top: 150px;
    left: 260px;
  }
}
@keyframes anim6 {
  0% {
    bottom: 0px;
  }
  25% {
    bottom: 30px;
  }
  50% {
    bottom: 60px;
  }
  75% {
    bottom: 90px;
  }
  100% {
    bottom: 150px;
  }
}
@keyframes anim7 {
  0% {
    bottom: 0px;
  }
  25% {
    bottom: 60px;
  }
  50% {
    bottom: 120px;
  }
  75% {
    bottom: 240px;
  }
  100% {
    bottom: 300px;
  }
}
